{% extends 'base.html' %}
{% block title %}
    Item:{{ item.name }}
{% endblock %}
{% block style %}
    {{ block.super }}
    <style>
    </style>
{% endblock %}
{% block content %}

    <h1>{{ item.name }}</h1>
    <p>
        Наименование: <strong>{{ item.name }}</strong>
    </p>
    <p>
        Количество:
        {{ item.count | default:'товар отсутствует' }}
    </p>

    <ul>
        {% for color in item.colors.all %}
            <li>
                <i style="color: {{ color.hex_code }}" class="fa-solid fa-square"></i>
                {{ color.name }}
            </li>
        {% endfor %}
    </ul>


    <p>
        {{ item.description }}
    </p>



    <a href="{% url 'items-list' %}">Назад</a>
{% endblock %}