<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ item.name }}</title>
    <style>
        body {
            font-family: sans-serif;
            margin: 20px;
            background-color: #f4f4f4;
            color: #333;
        }
        .container {
            max-width: 960px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <nav>
        <a href="">Home</a> |
        <a href="/items">Items</a> |
        <a href="/about">About</a>
    </nav>
    <div class="container">
    <h1>{{ item.name }}</h1>
    <p>
        Наименование: <strong>{{ item.name }}</strong>
    </p>
    <p>
        Количество:
        {% if item.quantity == 0 %}
            товар отсутствует
        {% else %}
            {{ item.quantity }} шт.
        {% endif %}
    </p>

    <a href="/items">Назад к списку товаров</a>
</body>
</html>